@import 'GasStation/index.scss';
@import 'RangeSlider/index.scss';

#gas-stations {
    table {
        border: 2px solid $black;
        margin-top: $spacing;
        border-spacing: $spacing / 2;
        background-color: $white-with-opacity;
        text-align: center;
        
        thead {
            font-weight: bold;
            text-decoration: underline;
            td {
                &:nth-child(2) {
                    padding-right: $spacing / 2;
                }
            }
        }
    
        tbody {
            padding: 1rem 0;
            tr {
                border: 10px solid transparent;
                margin-bottom: 1rem;
            }
        }
    
        td.logo {
            padding: 0;
        }
    }

    #fuel-types {
        display: flex;
        border-radius: 5px;  
        overflow: hidden;
        > * {
            flex: 1;
            background-color: $black;
            color: $white-with-opacity;
            border: none;
            outline: none;
            transition: all 0.25s ease;


            &.active {
                background-color: $gray;
                color: $black;
            }
        }
    }
}
