table {
    thead {
        text-align: center;
        font-weight: bold;
    }
    pointer-events: all !important;

    td {
        padding: ($spacing / 2) 0;

        a {
            color: #7C5042;
            &:hover, &:active, &:focus {
                color: #A97762;
            }
        }
    }

}