table {

    margin-top: $spacing;
    border-collapse: separate;
    border-spacing: $spacing / 2;
    background-color: $white-with-opacity;
    text-align: center;
    
    thead {
        font-weight: bold;
        text-decoration: underline;
    }

    tbody {
        padding: 1rem 0;
        tr {
            border: 10px solid transparent;
            margin-bottom: 1rem;
            td {
                padding: 0 2rem;
                a {
                    color: #7C5042;
                    &:hover, &:active, &:focus {
                        color: #A97762;
                    }
                }
            }
        }
    }

}