#app {
  background-color: #FEFBF8;

  #content {
    width: inherit;

    background-image: linear-gradient(white, black), url('/sunrise-van.jpg');
    background-blend-mode: screen;
    background-size: cover;
    background-position: bottom;
    
    min-height: 100vh;
    min-width: 100vw;

    > * {
      padding: $spacing;
    }

    header {
      h1 {
        margin-top: 0;
      }
    }
    #body {
      text-align: center;
      button {
        background-color: white;
        border-radius: 20px;
        padding: ($spacing / 2) ($spacing * 1.5);
        cursor: pointer;
        border: none;
      }
    }

    footer {
      padding-bottom: ($spacing / 2);
      opacity: 0.8;
      position: fixed;
      bottom: 0;
      color: white;
    }
  }
}