
  $picker-size: 25px;
  $picker-border-radius: 50%;
  $slider-height: 15px;
  
.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin: ($spacing / 3) 0;

  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: $slider-height;
    border-radius: 5px;  
    background: $gray;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $picker-size;
    height: $picker-size;
    border-radius: $picker-border-radius;
    background: $green;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: $picker-size;
    height: $picker-size;
    border-radius: $picker-border-radius;
    background: $green;
    cursor: pointer;
  }
}
